* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifs;
padding-top: 200px;
padding-bottom: 200px;
    &::-webkit-scrollbar {
    width: 8px;
    }
    &::-webkit-scrollbar-thumb {
    background-color: rgb(158, 158, 158);
    width: 100%;
    border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
    background-color: rgb(228, 228, 228);
    }
}



.tbilisbuswrapper {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 25px;
    .tbilisibusheader {
    background-image: linear-gradient(to bottom, rgb(66, 122, 226), rgb(19, 65, 151));
    width: 100%;
    width: 76%;
    height: 450px;
    background-size: cover;
    margin-bottom: 40px;
    border-radius: 15px;
        .headerstyletbilisibus {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 125px 145px;
            h1 {
            margin-top: 10px;
            width: 50%;
            font-size: 35px;
            color: white;
            }
        }
    }
}

.busticketinfobannerwrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 70px;
margin-bottom: 20px;
    .busticketinfobanner {
    background-image: url(./../image/busimageticketticket.png);
    width: 100%;
    max-width: 1250px;
    aspect-ratio: 1250 / 330;
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 15px;
    }
}

.traintittle {
font-size: 1.5rem;
width: 500px;
margin: auto;
margin-bottom: 35px;
}
.wrappertraininfo {
width: 100%;
margin-bottom: 45px;
    .traininfo {
    display: flex;
    justify-content: center;
    align-items: center;
        .traininfocard {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            img {
            margin-bottom: 25px;
            }
            .traininfoul {
            list-style-type: none;
                .desc {
                text-align: center;
                font-size: 14px;
                }
                .bolddesc {
                text-align: center;
                font-weight: 500;
                font-size: 14px;
                }
            }
        }
    }
}



.belldivwrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 70px;
margin-bottom: 20px;
    .belldiv {
    background-color: #3054AD;
    width: 100%;
    max-width: 1250px;
    aspect-ratio: 1250 / 290;
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 0px 70px;
    display: flex;
    justify-content: space-between;
        img {
        width: 320px;
        }
        .bellcontentsecondhalf {
        display: flex;
        width: 650px;
        flex-direction: column;
        padding-top: 70px;
            .bellul {
            list-style-type: none;
            margin-bottom: 15px;
                .goldn {
                font-size: 1.25rem;
                font-weight: 550;
                margin-bottom: 15px;
                color: rgb(255 197 108);    
                }
                .descn {
                font-size: .85rem;
                color: white;
                }
            }
            .subscription {
            width: 110px;
            height: 60px;
            background-color: white;
            border: none;
            border-radius: 10px;
            color: #3054AD;
            font-size: 1rem;
            outline: none;
            cursor: pointer;
            }
        }
    }
}

.tickettravelsdivwrapper {
display: flex;
justify-content: center;
align-items: center;
padding: 0px 70px;
margin-bottom: 67px; 
    .tickettravelsdiv {
    width: 100%;
    max-width: 1250px;
    aspect-ratio: 1250 / 290;
        .tittle {
        line-height: 2.875rem;
        font-size: 32px;
        width: 520px;
        margin-bottom: 15px;
        }
        .traveldatebar {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
            .choseregtbil {
            width: 210px;
            height: 38px;
            margin-right: 20px;
            border: none;
            display: flex;
            justify-content: start;
            padding-left: 15px;
            align-items: center;
            position: relative;
            border-radius: 10px;
            border: 1px solid rgb(224, 224, 224);
            background-color: white;
            cursor: pointer;
            outline: none;
                .choseregtbilh1 {
                font-size: 15px;
                font-weight: 400;
                }
                .notchosenregtbil {
                position: absolute;
                width: 180px;
                height: 65px;
                display: flex;
                justify-content: start;
                padding-left: 15px;
                left: 0px;
                align-items: center;
                background-color: white;
                box-shadow: 0px 10px 15px 1px rgba(0, 7, 107, 0.151);
                border-radius: 10px;
                cursor: pointer;
                transition: 0.3;
                font-size: 15px;
                top: 38px;
                    &.showchoseregtbil {
                    display: none;
                    }
                }
            }
            .prevnexdate {
            width: 160px;
            height: 38px;
            border-radius: 10px;
            background-color: rgb(233, 233, 233);
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
                .btns {
                display: flex;
                justify-content: center;
                align-content: center;
                width: 150px;
                height: 38px;
                padding: 14px 16px;
                border-radius: 14px;
                background-color: transparent;
                border: 0px;
                transition: 0.1s;
                outline: none;
                cursor: pointer;
                    .btntittle {
                    user-select: none;
                    outline: none;
                    z-index: 1;
                    font-size: .875rem;
                    display: flex;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-weight: 400;
                    justify-content: space-around;
                    align-items: center;
                    color: rgb(0, 0, 0);
                    }
                }

                .btnbackgroundeffect {
                z-index: 0.1;
                outline: none;
                position: absolute;
                left: 3px;
                display: flex;
                justify-content: center;
                align-content: center;
                width: 75px;
                height: 34px;
                border-radius: 10px;
                background-color: rgb(255, 255, 255);
                transition: 0.5s cubic-bezier(0.34, 1.26, 0.64, 1);
                    &.right {
                    left: 82px;
                    }
                }
            }
        }
        .dateoptions {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: repeat(3, 80px);
        gap: 24px;
            .dateoption {
            border: 1px solid rgb(235, 235, 235);
            border-radius: 10px;
            padding: 15px 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            transition: 0.2s;
                &:hover {
                background-color: rgba(238, 238, 238, 0.753);
                border: 1px solid rgb(199, 199, 199);
                }
                .fromtoul {
                list-style-type: none;
                    .from {
                    font-size: .80rem;
                    color: rgb(109, 109, 109);
                    margin-bottom: 5px;
                    }
                    .to {
                    font-size: 1rem;
                    font-weight: 400;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 150px;
                    }
                }
                .ticketamount {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: rgba(231, 231, 231, 0.774);
                width: 100px;
                border-radius: 5px;
                padding: 0px 10px;
                height: 25px;
                    i {
                    color: rgb(114, 114, 114);
                    font-size: .80rem;
                    }    
                    .biletbi {
                    font-size: .70rem;
                    font-weight: 500;
                    color: rgb(114, 114, 114);
                    }
                }
            }
        }
    }
}







.saqartveloplaceswrapper {
display: flex;
justify-content: center;
align-items: center;
padding: 0px 70px;
margin-bottom: 25px; 
    .saqartveloplaces {
    width: 100%;
    max-width: 1250px;
    aspect-ratio: 1250 / 290;
        .saqartvelosadgilebitittle {
        font-size: 1.5rem;
        margin-bottom: 25px;
        }

        .saqartvelocards {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
            .saqartveloplccard {
            width: 300px;
            height: 250px;
            background-position: center;
            background-size: cover;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            cursor: pointer;
                &.batumi {
                background-image: url(./../image/batumi.jpg);
                }
                &.kutaisiaero {
                background-image: url(./../image/kutaisi.jpg);
                }
                &.zugdidi {
                background-image: url(./../image/zugdidi.jpg);
                }
                &.foti {
                background-image: url(./../image/foti.jpg);
                }


                &.kutaisi {
                background-image: url(./../image/kutaisi2.jpg);
                }
                &.qobuleti {
                background-image: url(./../image/kobuleti.jpg);
                }
                &.senaki {
                background-image: url(./../image/senaki.jpg);
                }
                &.samtredia {
                background-image: url(./../image/samtredia.jpg);
                }

                .backgroundshadoweffect {
                background-color: rgba(0, 0, 0, 0);
                transition: 0.2s;
                height: 100%;
                width: 100%;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                justify-content: end;
                    &:hover {
                    background-color: rgba(0, 0, 0, 0.295);
                    }
                    .saqartveloplccardul {
                    list-style-type: none;
                    width: 100%;
                    padding-left: 20px;
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.562));
                    border-radius: 15px;
                    padding-bottom: 20px;
                        .adgili {
                        color: white;
                        font-size: 20px;
                        font-weight: 500;
                        text-shadow: 0px 0px 25px black;
                        }
                        .laridan {
                        color: white;
                        font-size: 13px;
                        margin-top: 14px;
                        text-shadow: 0px 0px 25px black;
                        }
                    }
                }
            }
        }
    }
}


.faqdiv {
width: 100%;
height: auto;
margin-bottom: 95px;
display: flex;
flex-direction: column;
padding: 85px 0px;
justify-content: center;
align-items: center;
    .faqsmessage {
    width: 80px;
    padding: 7px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #E10088;
    margin-bottom: 15px;
        img {
        margin-right: 5px;
        }
        h1 {
        font-size: .80rem;
        color: white;
        font-weight: 700;
        }
    }
    .tittlefaqs {
    font-size: 1.25rem;
    margin-bottom: 40px;
    }
    .faqsrows {
    display: flex;
    gap: 17px;
    justify-content: space-between;
    align-items: start;
        .row1 {
        display: flex;
        flex-direction: column;
        justify-content: start;
            .questns {
            width: 610px;
            height: 70px;
            overflow-y: hidden;
            background-color: rgb(240, 240, 240);
            border-radius: 13px;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 25px;
            padding-bottom: 25px;
            margin-bottom: 15px;
            transition: 0.2s;
            cursor: pointer;
                &.open {
                height: auto;
                }
                .questiontittle {
                font-size: 1rem;
                margin-bottom: 25px;
                font-weight: 400;
                user-select: none;
                }
                .questiondesc {
                font-size: .75rem;
                font-weight: 350;
                }
                a {
                color: rgb(28, 164, 255);
                }
            }
        }
        .row2 {
        display: flex;
        flex-direction: column;
        justify-content: start;
            .questns {
            width: 610px;
            height: 70px;
            overflow-y: hidden;
            background-color: rgb(240, 240, 240);
            border-radius: 13px;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 25px;
            padding-bottom: 25px;
            margin-bottom: 15px;
            transition: 0.2s;
            cursor: pointer;
                &.open {
                height: auto;
                }
                .questiontittle {
                font-size: 1rem;
                margin-bottom: 25px;
                font-weight: 400;
                user-select: none;
                }
                .questiondesc {
                font-size: .75rem;
                font-weight: 350;
                }
                a {
                color: rgb(28, 164, 255);
                }
            }
        }
    }
}










@media (max-width: 426px) {
    body {
    padding-top: 170px;
    }

    .busticketinfobannerwrapper {
    padding: 0px 10px;
    margin-bottom: 25px;
        .busticketinfobanner {
        background-image: url(./../image/busimageticketticketcubic.png);
        width: 100%;
        max-width: 393px;
        aspect-ratio: 393 / 436;
        background-size: cover;
        margin-bottom: 10px;
        border-radius: 15px;
        }
        .textcontentbusticketinfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        max-width: 1250px;
        padding: 0px 8px;
            h1 {
            font-size: 1.25rem;
            margin-bottom: 15px;
            }
            h2 {
            font-weight: 400;
            font-size: 1rem;
            margin-bottom: 30px;
            line-height: 1.625;
            }

            ul {
            padding-left: 25px;
                li {
                margin-bottom: 10px;
                }
            }
        }
    }
    .tbilisbuswrapper {
    display: flex;
    justify-content: center;
    align-items: center;
        .tbilisibusheader {
        background-image: linear-gradient(to bottom, rgb(66, 122, 226), rgb(19, 65, 151));
        width: 100%;
        height: 480px;
        background-size: cover;
        margin-bottom: 0px;
        border-radius: 25px;
            .headerstyletbilisibus {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 61px 16px;
                h1 {
                margin-top: 10px;
                width: 77%;
                font-size: 1.25rem;
                color: white;
                }
            }
        }
    }
    .traintittle {
    font-size: 1.01rem;
    margin: 0px;
    padding-left: 15px;
    margin-bottom: 35px;
    width: 300px;
    }
    .wrappertraininfo {
    width: 100%;
    margin-bottom: 45px;
        .traininfo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 15px;
        flex-direction: column;
            .traininfocard {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border: 1px solid rgb(236, 236, 236);
            border-radius: 10px;
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            align-items: center;
                img {
                margin-bottom: 0px;
                width: 40px;
                margin-right: 15px;
                }
                .traininfoul {
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
                    .desc {
                    text-align: start;
                    font-size: .75rem;
                    }
                    .bolddesc {
                    text-align: start;
                    font-weight: 500;
                    font-size: .75rem;
                    }
                }
            }
        }
    }
    .belldivwrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    margin-bottom: 20px;
        .belldiv {
        background-color: #3054AD;
        width: 100%;
        max-width: 1250px;
        aspect-ratio: 1250 / 550;
        background-size: cover;
        margin-bottom: 20px;
        border-radius: 15px;
        padding: 0px 25px;
        padding-bottom: 32px;
        display: flex;
        justify-content: center;
        flex-direction: column;
            img {
            margin: auto;
            width: 170px;
            }
            .bellcontentsecondhalf {
            display: flex;
            width: 100%;
            flex-direction: column;
            padding-top: 70px;
                .bellul {
                list-style-type: none;
                margin-bottom: 15px;
                width: 249px;
                    .goldn {
                    font-size: 1.25rem;
                    font-weight: 550;
                    margin-bottom: 15px;
                    color: rgb(255 197 108);    
                    }
                    .descn {
                    font-size: .85rem;
                    color: white;
                    }
                }
                .subscription {
                width: 100%;
                height: 60px;
                background-color: white;
                border: none;
                border-radius: 10px;
                color: #3054AD;
                font-size: 1rem;
                outline: none;
                cursor: pointer;
                }
            }
        }
    }
    
    .tickettravelsdivwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    margin-bottom: 67px; 
        .tickettravelsdiv {
        width: 100%;
        max-width: 1250px;
        aspect-ratio: 1250 / 290;
            .tittle {
            line-height: 1.5rem;
            font-size: 0.88rem;
            width: 100%;
            margin-bottom: 15px;
            }
            .traveldatebar {
            display: flex;
            align-items: center;
            margin-bottom: 25px;
            justify-content: space-between;
                .choseregtbil {
                width: 170px;
                height: 38px;
                margin-right: 0px;
                border: none;
                display: flex;
                justify-content: start;
                padding-left: 15px;
                align-items: center;
                position: relative;
                border-radius: 10px;
                border: 1px solid rgb(224, 224, 224);
                background-color: white;
                cursor: pointer;
                outline: none;
                    .choseregtbilh1 {
                    font-size: .725rem;
                    font-weight: 400;
                    }
                    .notchosenregtbil {
                    position: absolute;
                    width: 150px;
                    height: 65px;
                    display: flex;
                    justify-content: start;
                    padding-left: 15px;
                    left: 0px;
                    align-items: center;
                    background-color: white;
                    box-shadow: 0px 10px 15px 1px rgba(0, 7, 107, 0.151);
                    border-radius: 10px;
                    cursor: pointer;
                    transition: 0.3;
                    font-size: .75rem;
                    top: 38px;
                        &.showchoseregtbil {
                        display: none;
                        }
                    }
                }
                .prevnexdate {
                width: 80px;
                height: 38px;
                border-radius: 10px;
                background-color: rgb(233, 233, 233);
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                    .btns {
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    width: 50px;
                    height: 30px;
                    padding: 5px 3px;
                    border-radius: 14px;
                    background-color: transparent;
                    border: 0px;
                    transition: 0.1s;
                    outline: none;
                    cursor: pointer;
                        .btntittle {
                        user-select: none;
                        outline: none;
                        z-index: 1;
                        font-size: .625rem;
                        display: flex;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        font-weight: 400;
                        justify-content: space-around;
                        align-items: center;
                        color: rgb(0, 0, 0);
                        }
                    }

                    .btnbackgroundeffect {
                    z-index: 0.1;
                    outline: none;
                    position: absolute;
                    left: 3px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    width: 37px;
                    height: 34px;
                    border-radius: 10px;
                    background-color: rgb(255, 255, 255);
                    transition: 0.5s cubic-bezier(0.34, 1.26, 0.64, 1);
                        &.right {
                        left: 82px;
                        }
                        &.rightsmall {
                        left: 40px;
                        }
                    }
                }
            }
            .dateoptions {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            grid-template-rows: repeat(3, 80px);
            gap: 7px;
            display: flex;
            flex-direction: column;
                .dateoption {
                border: 1px solid rgb(235, 235, 235);
                border-radius: 10px;
                padding: 9px 11px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                transition: 0.2s;
                    &:hover {
                    background-color: rgba(238, 238, 238, 0.753);
                    border: 1px solid rgb(199, 199, 199);
                    }
                    .fromtoul {
                    list-style-type: none;
                        .from {
                        font-size: .80rem;
                        color: rgb(109, 109, 109);
                        margin-bottom: 5px;
                        }
                        .to {
                        font-size: 1rem;
                        font-weight: 400;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 150px;
                        }
                    }
                    .ticketamount {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: rgba(231, 231, 231, 0.774);
                    width: 100px;
                    border-radius: 5px;
                    padding: 0px 10px;
                    height: 25px;
                        i {
                        color: rgb(114, 114, 114);
                        font-size: .80rem;
                        }    
                        .biletbi {
                        font-size: .70rem;
                        font-weight: 500;
                        color: rgb(114, 114, 114);
                        }
                    }
                }
            }
        }
    }

    .saqartveloplaceswrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    margin-bottom: 25px; 
        .saqartveloplaces {
        width: 100%;
        max-width: 1250px;
        aspect-ratio: 1250 / 290;
            .saqartvelosadgilebitittle {
            font-size: 1.5rem;
            margin-bottom: 25px;
            }

            .saqartvelocards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
                .saqartveloplccard {
                width: 300px;
                height: 250px;
                background-position: center;
                background-size: cover;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: center;
                cursor: pointer;
                    &.batumi {
                    background-image: url(./../image/batumi.jpg);
                    }
                    &.kutaisiaero {
                    background-image: url(./../image/kutaisi.jpg);
                    }
                    &.zugdidi {
                    background-image: url(./../image/zugdidi.jpg);
                    }
                    &.foti {
                    background-image: url(./../image/foti.jpg);
                    }


                    &.kutaisi {
                    background-image: url(./../image/kutaisi2.jpg);
                    }
                    &.qobuleti {
                    background-image: url(./../image/kobuleti.jpg);
                    }
                    &.senaki {
                    background-image: url(./../image/senaki.jpg);
                    }
                    &.samtredia {
                    background-image: url(./../image/samtredia.jpg);
                    }

                    .backgroundshadoweffect {
                    background-color: rgba(0, 0, 0, 0);
                    transition: 0.2s;
                    height: 100%;
                    width: 100%;
                    border-radius: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                        &:hover {
                        background-color: rgba(0, 0, 0, 0.295);
                        }
                        .saqartveloplccardul {
                        list-style-type: none;
                        width: 100%;
                        padding-left: 20px;
                        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.562));
                        border-radius: 15px;
                        padding-bottom: 20px;
                            .adgili {
                            color: white;
                            font-size: 20px;
                            font-weight: 500;
                            text-shadow: 0px 0px 25px black;
                            }
                            .laridan {
                            color: white;
                            font-size: 13px;
                            margin-top: 14px;
                            text-shadow: 0px 0px 25px black;
                            }
                        }
                    }
                }
            }
        }
    }

    
    .faqdiv {
    width: 100%;
    height: auto;
    margin-bottom: 95px;
    display: flex;
    flex-direction: column;
    padding: 85px 0px;
    justify-content: center;
    align-items: center;
        .faqsmessage {
        width: 80px;
        padding: 7px 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        background-color: #E10088;
        margin-bottom: 15px;
            img {
            margin-right: 5px;
            }
            h1 {
            font-size: .80rem;
            color: white;
            font-weight: 700;
            }
        }
        .tittlefaqs {
        font-size: .875rem;
        margin-bottom: 40px;
        }
        .faqsrows {
        display: flex;
        gap: 17px;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
            .row1 {
            display: flex;
            flex-direction: column;
            justify-content: start;
                .questns {
                width: clamp(200px, 90vw, 500px);
                height: 55px;
                overflow-y: hidden;
                background-color: rgb(240, 240, 240);
                border-radius: 13px;
                padding-left: 25px;
                padding-right: 25px;
                padding-top: 20px;
                padding-bottom: 25px;
                margin-bottom: 15px;
                transition: 0.2s;
                cursor: pointer;
                    &.open {
                    height: auto;
                    }
                    .questiontittle {
                    font-size: .75rem;
                    margin-bottom: 25px;
                    font-weight: 400;
                    user-select: none;
                    }
                    .questiondesc {
                    font-size: .75rem;
                    font-weight: 350;
                    }
                    a {
                    color: rgb(28, 164, 255);
                    }
                }
            }
            .row2 {
            display: flex;
            flex-direction: column;
            justify-content: start;
                .questns {
                width: clamp(200px, 90vw, 500px);
                height: 55px;
                overflow-y: hidden;
                background-color: rgb(240, 240, 240);
                border-radius: 13px;
                padding-left: 25px;
                padding-right: 25px;
                padding-top: 20px;
                padding-bottom: 25px;
                margin-bottom: 15px;
                transition: 0.2s;
                cursor: pointer;
                    &.open {
                    height: auto;
                    }
                    .questiontittle {
                    font-size: .75rem;
                    margin-bottom: 25px;
                    font-weight: 400;
                    user-select: none;
                    }
                    .questiondesc {
                    font-size: .75rem;
                    font-weight: 350;
                    }
                    a {
                    color: rgb(28, 164, 255);
                    }
                }
            }
        }
    }
}
