* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifs;
padding-top: 209px;
padding-bottom: 209px;
    &::-webkit-scrollbar {
    width: 8px;
    }
    &::-webkit-scrollbar-thumb {
    background-color: rgb(158, 158, 158);
    width: 100%;
    border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
    background-color: rgb(228, 228, 228);
    }
}



.busticketinfobannerwrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 70px;
margin-bottom: 40px;
    .busticketinfobanner {
    background-image: url(./../image/busimageticketticket.png);
    width: 100%;
    max-width: 1250px;
    aspect-ratio: 1250 / 330;
    background-size: cover;
    margin-bottom: 40px;
    border-radius: 15px;
    }
    .textcontentbusticketinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 1250px;
        h1 {
        font-size: 25px;
        margin-bottom: 10px;
        }
        h2 {
        font-weight: 400;
        font-size: 19px;
        margin-bottom: 30px;
        }

        ul {
        padding-left: 25px;
            li {
            margin-bottom: 10px;
            }
        }
    }
}




@media (max-width: 426px) {
    body {
    padding-top: 170px;
    }

    .busticketinfobannerwrapper {
    padding: 0px 10px;
        .busticketinfobanner {
        background-image: url(./../image/busimageticketticketcubic.png);
        width: 100%;
        max-width: 393px;
        aspect-ratio: 393 / 436;
        background-size: cover;
        margin-bottom: 30px;
        border-radius: 15px;
        }
        .textcontentbusticketinfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        max-width: 1250px;
        padding: 0px 8px;
            h1 {
            font-size: 1.25rem;
            margin-bottom: 15px;
            }
            h2 {
            font-weight: 400;
            font-size: 1rem;
            margin-bottom: 30px;
            line-height: 1.625;
            }

            ul {
            padding-left: 25px;
                li {
                margin-bottom: 10px;
                }
            }
        }
    }
}